<div class="square square-7" id="square7"></div>
<div class="square square-8" id="square8"></div>
<div class="card card-register">
  <div class="card-header">
    <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />
    <h4 class="card-title">Register</h4>
  </div>
  <div class="card-body">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          name="name"
          ngModel
          placeholder="Full Name"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
            ngModel
            placeholder="Email"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
            ngModel
            placeholder="Password"
          />
        </div>
      </div>
      <div class="form-row">
        <div
          (imageChanged)="onImageChange($event)"
          class="upload form-group col-md-4"
        >
          <label for="image_input">Avatar </label>
          <div id="image_input">
            <img
              class="img-fluid rounded-circle"
              [src]="imageUrl"
              alt="User Image"
              style="
                width: 70px;
                height: 70px;
                object-fit: cover;
                cursor: pointer;
              "
              (click)="triggerUpload()"
            />
            <input
              type="file"
              accept="image/*"
              
              (change)="onFileChange($event)"
              style="display: none"
              id="imageInput"
              name="image"
            />
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="inputState">Role</label>
          <select id="inputState" class="form-control" name="role" ngModel>
            <option value="CLIENT" selected>Client</option>
            <option value="SELLER">Seller</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-danger btn-round btn-lg">
        Sign in
      </button>
    </form>
  </div>
</div>
