<div class="card card-coin card-plain">
  <div class="card-header"><img src="assets/img/apple-icon.png"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-uppercase">NAME</h4><span> Infos </span>
        <hr class="line-primary">
      </div>
    </div>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">SELLER</li>
        <li class="list-group-item">PRICE</li>
        <li class="list-group-item">24/7 Support</li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-center"><button class="btn btn-primary btn-simple">Get plan</button></div>
</div>